<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>

 <div class='btn-group nav_item'>
   <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %> 
      Categories <span class='caret'></span>
     <% end %>
   <ul class='dropdown-menu'>
    <% Category.all.each do |category| %>
    <li>
    <%= link_to category.name, category_path(category) %>
    </li>
     <% end %>
    
      <li class='divider'></li>
      <li>
       <%= link_to(new_category_path) do %>
            <i class="icon-plus"></i>
             New Category
           <% end %>
           </li>
     
 </div>
 
<div class='nav_item'>
   <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
 </div>
<br/>


<div class='nav_item'>
<ul>
  <% if logged_in? %>
        <li> Hi <%= current_user.username %></li>
         <%= link_to 'Log-out', logout_path %>
     <% else %>
        <%= link_to 'Register', register_path %>
        <%= link_to 'Login', login_path %>
   <% end %>
</ul>
</div>

